In [74]:
#Bring in dependencies
# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from ast import literal_eval

In [75]:
#Import the data
temp = pd.read_csv('temp.csv')
temp.head()

,Unnamed: 0,title,budget,revenue,release_date,runtime,original_language,production_companies,production_countries,genres,spoken_languages,id,imdb_id,vote_average,vote_count
0,20498,Snitch,35000000,42930462,2/21/2013,112,en,"[{'name': 'Front Street Productions', 'id': 14...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",134411,tt0882977,5.8,1155
1,17750,Contagion,60000000,137551594,9/8/2011,106,en,"[{'name': 'Double Feature Films', 'id': 215}, ...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",39538,tt1598778,6.2,1351
2,16077,Fair Game,22000000,24188922,5/20/2010,108,en,"[{'name': 'River Road Entertainment', 'id': 12...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...","[{'iso_639_1': 'en', 'name': 'English'}]",38363,tt0977855,6.5,239
3,547,The Three Musketeers,30000000,53898845,11/11/1993,105,en,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_639_1': 'en', 'name': 'English'}]",10057,tt0108333,6.2,219
4,17651,Don't Be Afraid of the Dark,25000000,36993168,11/6/2010,99,en,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...","[{'iso_639_1': 'en', 'name': 'English'}]",46261,tt1270761,5.4,347

In [76]:
def main_element(row, column):
    return literal_eval(row[column])[0]['name']

#change all columns with dictionaries to only have name of first element

temp['main_production_company'] = temp.apply(lambda row: main_element(row,'production_companies'), axis=1)
#temp['main_production_country'] = temp.apply(lambda row: main_element(row,'production_countries'), axis=1)
temp['main_spoken_language'] = temp.apply(lambda row: main_element(row,'spoken_languages'), axis=1)

temp['main_genre'] = temp.apply(lambda row: main_element(row,'genres'), axis=1)
temp.head()

,Unnamed: 0,title,budget,revenue,release_date,runtime,original_language,production_companies,production_countries,genres,spoken_languages,id,imdb_id,vote_average,vote_count,main_production_company,main_spoken_language,main_genre
0,20498,Snitch,35000000,42930462,2/21/2013,112,en,"[{'name': 'Front Street Productions', 'id': 14...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",134411,tt0882977,5.8,1155,Front Street Productions,English,Thriller
1,17750,Contagion,60000000,137551594,9/8/2011,106,en,"[{'name': 'Double Feature Films', 'id': 215}, ...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",39538,tt1598778,6.2,1351,Double Feature Films,English,Drama
2,16077,Fair Game,22000000,24188922,5/20/2010,108,en,"[{'name': 'River Road Entertainment', 'id': 12...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...","[{'iso_639_1': 'en', 'name': 'English'}]",38363,tt0977855,6.5,239,River Road Entertainment,English,Drama
3,547,The Three Musketeers,30000000,53898845,11/11/1993,105,en,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_639_1': 'en', 'name': 'English'}]",10057,tt0108333,6.2,219,Walt Disney Pictures,English,Action
4,17651,Don't Be Afraid of the Dark,25000000,36993168,11/6/2010,99,en,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...","[{'iso_639_1': 'en', 'name': 'English'}]",46261,tt1270761,5.4,347,Miramax Films,English,Fantasy

In [77]:
temp.columns

Index(['Unnamed: 0', 'title', 'budget', 'revenue', 'release_date', 'runtime',
       'original_language', 'production_companies', 'production_countries',
       'genres', 'spoken_languages', 'id', 'imdb_id', 'vote_average',
       'vote_count', 'main_production_company', 'main_spoken_language',
       'main_genre'],
      dtype='object')

In [83]:
X=temp.iloc[ : , [2,3,4,5,6,13,14,15, 16]]
y=temp.iloc[ : , [17]]
y

           main_genre
0            Thriller
1               Drama
2               Drama
3              Action
4             Fantasy
5              Comedy
6              Horror
7            Thriller
8            Thriller
9     Science Fiction
10             Action
11            Fantasy
12          Adventure
13              Drama
14              Drama
15           Thriller
16             Action
17              Drama
18             Action
19             Action
20              Drama
21             Horror
22            Romance
23          Adventure
24              Drama
25             Action
26             Action
27             Horror
28             Comedy
29             Action
...               ...
3216            Drama
3217           Comedy
3218            Crime
3219        Adventure
3220            Drama
3221            Drama
3222           Comedy
3223            Crime
3224            Crime
3225            Crime
3226          Mystery
3227            Drama
3228        Adventure
3229            Drama
3230            Drama
3231            Drama
3232            Drama
3233           Comedy
3234           Comedy
3235          Fantasy
3236            Drama
3237            Drama
3238         Thriller
3239            Drama
3240            Drama
3241            Drama
3242            Drama
3243            Drama
3244            Drama
3245      Documentary

[3246 rows x 1 columns]