In [44]:
#Bring in dependencies
# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from ast import literal_eval

In [55]:
#Import the data
temp = pd.read_csv('temp.csv')
temp.head()

,Unnamed: 0,title,budget,revenue,release_date,runtime,original_language,production_companies,production_countries,genres,spoken_languages,id,imdb_id,vote_average,vote_count,log rev
0,0,Toy Story,30000000,373554033,10/30/1995,81,en,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'iso_639_1': 'en', 'name': 'English'}]",862,tt0114709,7.7,5415,19.738573
1,1,Jumanji,65000000,262797249,12/15/1995,104,en,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",8844,tt0113497,6.9,2413,19.386893
2,3,Waiting to Exhale,16000000,81452156,12/22/1995,127,en,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'iso_639_1': 'en', 'name': 'English'}]",31357,tt0114885,6.1,34,18.215526
3,4,Father of the Bride Part II,0,76578911,2/10/1995,106,en,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 35, 'name': 'Comedy'}]","[{'iso_639_1': 'en', 'name': 'English'}]",11862,tt0113041,5.7,173,18.153832
4,5,Heat,60000000,187436818,12/15/1995,170,en,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",949,tt0113277,7.7,1886,19.048952

In [56]:
def main_genre(row):
    return literal_eval(row.genres)[0]['name']


temp['main_genre'] = temp.apply(lambda row: main_genre(row), axis=1)
temp.head()

,Unnamed: 0,title,budget,revenue,release_date,runtime,original_language,production_companies,production_countries,genres,spoken_languages,id,imdb_id,vote_average,vote_count,log rev,main_genre
0,0,Toy Story,30000000,373554033,10/30/1995,81,en,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'iso_639_1': 'en', 'name': 'English'}]",862,tt0114709,7.7,5415,19.738573,Animation
1,1,Jumanji,65000000,262797249,12/15/1995,104,en,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",8844,tt0113497,6.9,2413,19.386893,Adventure
2,3,Waiting to Exhale,16000000,81452156,12/22/1995,127,en,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'iso_639_1': 'en', 'name': 'English'}]",31357,tt0114885,6.1,34,18.215526,Comedy
3,4,Father of the Bride Part II,0,76578911,2/10/1995,106,en,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 35, 'name': 'Comedy'}]","[{'iso_639_1': 'en', 'name': 'English'}]",11862,tt0113041,5.7,173,18.153832,Comedy
4,5,Heat,60000000,187436818,12/15/1995,170,en,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",949,tt0113277,7.7,1886,19.048952,Action

In [59]:
temp.columns

Index(['Unnamed: 0', 'title', 'budget', 'revenue', 'release_date', 'runtime',
       'original_language', 'production_companies', 'production_countries',
       'genres', 'spoken_languages', 'id', 'imdb_id', 'vote_average',
       'vote_count', 'log rev', 'main_genre'],
      dtype='object')

In [62]:
X=temp.iloc[ : , [2,3,4,5,6,7,8,10,13,14,]]
X

,budget,revenue,release_date,runtime,original_language,production_companies,production_countries,spoken_languages,vote_average,vote_count
0,30000000,373554033,10/30/1995,81,en,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",7.7,5415
1,65000000,262797249,12/15/1995,104,en,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.9,2413
2,16000000,81452156,12/22/1995,127,en,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",6.1,34
3,0,76578911,2/10/1995,106,en,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",5.7,173
4,60000000,187436818,12/15/1995,170,en,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",7.7,1886
5,35000000,64350171,12/22/1995,106,en,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",5.5,174
6,58000000,352194034,11/16/1995,130,en,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.6,1194
7,62000000,107879496,11/17/1995,106,en,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",6.5,199
8,0,11348324,12/22/1995,78,en,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",7.1,423
9,44000000,13681765,12/22/1995,192,en,"[{'name': 'Hollywood Pictures', 'id': 915}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",7.1,72
10,98000000,10017322,12/22/1995,119,en,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",5.7,137
11,52000000,116112375,11/22/1995,178,en,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]",7.8,1343
12,16500000,135000000,12/13/1995,136,en,"[{'name': 'Columbia Pictures Corporation', 'id...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'iso_639_1': 'en', 'name': 'English'}]",7.2,364
13,4000000,4300000,12/9/1995,98,en,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",6.5,539
14,30000000,212385533,11/10/1995,90,en,"[{'name': 'O Entertainment', 'id': 5682}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",6.1,1128
15,60000000,35431113,11/21/1995,103,en,"[{'name': 'Columbia Pictures', 'id': 5}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",5.4,224
16,30250000,115101622,10/20/1995,105,en,"[{'name': 'Jersey Films', 'id': 216}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",6.4,305
17,50000000,30303072,10/6/1995,132,en,"[{'name': 'Silver Pictures', 'id': 1885}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.0,394
18,3600000,49800000,10/27/1995,112,en,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",7.1,365
19,12000000,27400000,10/20/1995,100,en,"[{'name': 'New Line Cinema', 'id': 12}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",6.6,91
20,18000000,1738611,5/16/1995,108,fr,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...","[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",7.6,308
21,0,180000000,8/11/1995,99,en,"[{'name': 'Hollywood Pictures', 'id': 915}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",6.4,249
22,29500000,168840000,12/29/1995,129,en,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",7.4,2470
23,30000000,254134910,7/18/1995,89,en,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'...","[{'iso_639_1': 'en', 'name': 'English'}]",6.0,756
24,11000000,39363635,12/29/1995,122,en,"[{'name': 'Havoc', 'id': 406}, {'name': 'PolyG...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",7.3,350
25,18000000,122195920,8/18/1995,101,en,"[{'name': 'New Line Cinema', 'id': 12}, {'name...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",5.4,452
26,20000000,21284514,5/20/1995,106,en,"[{'name': 'The Rank Organisation', 'id': 364},...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",6.7,177
27,10000000,23574130,10/6/1995,116,en,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",6.5,38
28,33000000,327311859,9/22/1995,127,en,"[{'name': 'New Line Cinema', 'id': 12}, {'name...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",8.1,5915
29,55000000,346079773,6/14/1995,81,en,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",6.7,1509
...,...,...,...,...,...,...,...,...,...,...
6470,20000000,45056771,6/15/2017,101,en,"[{'name': 'Sony Pictures Entertainment', 'id':...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",5.6,336
6471,3500000,1492523,6/15/2016,105,fr,"[{'name': 'Nord-Ouest Films', 'id': 57752}]","[{'iso_3166_1': 'FR', 'name': 'France'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",7.3,34
6472,0,5708,11/17/2000,89,en,[],[],"[{'iso_639_1': 'en', 'name': 'English'}]",4.8,25
6473,0,3462,11/10/2012,90,fr,"[{'name': 'Sombrero Films', 'id': 3416}]","[{'iso_3166_1': 'FR', 'name': 'France'}]","[{'iso_639_1': 'fr', 'name': 'Français'}]",5.4,36
6474,0,4762337,12/14/1989,126,cn,"[{'name': ""Win's Movie Productions Ltd."", 'id'...","[{'iso_3166_1': 'HK', 'name': 'Hong Kong'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.6,34
6475,80000000,1020063384,6/15/2017,96,en,"[{'name': 'Illumination Entertainment', 'id': ...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",6.2,2002
6476,60000000,9420546,7/8/2016,90,en,"[{'name': 'Reel FX Creative Studios', 'id': 27...","[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...","[{'iso_639_1': 'en', 'name': 'English'}]",5.8,47
6477,5000000,6700000,9/12/2016,92,en,"[{'name': 'American Zoetrope', 'id': 70}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.4,25
6478,152000000,369907963,7/11/2017,140,en,"[{'name': 'Chernin Entertainment', 'id': 7076}]","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]",6.7,1675
6479,21000000,24527158,8/4/2017,95,en,"[{'name': 'Ingenious Media', 'id': 290}, {'nam...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'iso_639_1': 'en', 'name': 'English'}]",6.0,244
6480,197471676,90024292,7/20/2017,137,en,"[{'name': 'EuropaCorp', 'id': 6896}]","[{'iso_3166_1': 'FR', 'name': 'France'}]","[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",6.7,905
6481,0,214000,1/7/2013,88,fr,"[{'name': 'EuropaCorp', 'id': 6896}]","[{'iso_3166_1': 'FR', 'name': 'France'}]","[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",5.2,16
6482,5300000,22175908,5/26/2006,168,hi,"[{'name': 'Yash Raj Films', 'id': 1569}]","[{'iso_3166_1': 'IN', 'name': 'India'}]","[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",6.7,53
6483,30000000,90007945,7/26/2017,115,en,"[{'name': 'Denver and Delilah Productions', 'i...","[{'iso_3166_1': 'SE', 'name': 'Sweden'}, {'iso...","[{'iso_639_1': 'sv', 'name': 'svenska'}, {'iso...",6.1,748
6484,100000000,519876949,7/19/2017,107,en,"[{'name': 'Canal+', 'id': 5358}, {'name': 'Stu...","[{'iso_3166_1': 'NL', 'name': 'Netherlands'}, ...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",7.5,2712
6485,0,1015339,4/23/2016,120,ja,"[{'name': 'Toei Company', 'id': 9255}, {'name'...","[{'iso_3166_1': 'JP', 'name': 'Japan'}]","[{'iso_639_1': 'ja', 'name': '日本語'}]",6.8,29
6486,16000000,68411275,7/8/2000,93,ja,"[{'name': 'TV Tokyo', 'id': 3034}, {'name': '4...","[{'iso_3166_1': 'JP', 'name': 'Japan'}]","[{'iso_639_1': 'en', 'name': 'English'}]",6.0,144
6487,0,28023563,7/6/2001,75,ja,[],"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...","[{'iso_639_1': 'ja', 'name': '日本語'}]",5.7,82
6488,260000000,604942143,6/21/2017,149,en,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",6.2,1440
6489,0,103504,7/11/2012,98,fr,"[{'name': 'Canal+', 'id': 5358}, {'name': 'Cin...","[{'iso_3166_1': 'FR', 'name': 'France'}]","[{'iso_639_1': 'fr', 'name': 'Français'}]",5.4,92
6490,0,126463,8/17/2016,89,fr,"[{'name': 'Canal+', 'id': 5358}, {'name': 'Cin...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...","[{'iso_639_1': 'fr', 'name': 'Français'}]",6.1,24
6491,0,10893246,8/11/2017,99,en,"[{'name': 'Rhea Films', 'id': 37504}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",7.3,46
6492,0,1805884,8/31/2000,114,it,"[{'name': 'Rai Cinemafiction', 'id': 238}, {'n...","[{'iso_3166_1': 'IT', 'name': 'Italy'}]","[{'iso_639_1': 'it', 'name': 'Italiano'}]",7.8,116
6493,0,422,6/29/2017,99,en,"[{'name': 'Pandemonium', 'id': 8915}, {'name':...","[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'...","[{'iso_639_1': 'en', 'name': 'English'}]",5.5,277
6494,60000000,71000000,8/3/2017,95,en,"[{'name': 'Imagine Entertainment', 'id': 23}, ...","[{'iso_3166_1': 'ZA', 'name': 'South Africa'},...","[{'iso_639_1': 'en', 'name': 'English'}]",5.7,688
6495,50000000,66913939,7/28/2017,86,en,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",5.8,327
6496,11000000,184770205,8/3/2017,111,en,"[{'name': 'Thunder Road Pictures', 'id': 3528}...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'iso_639_1': 'en', 'name': 'English'}]",7.4,181
6497,0,7800000,2/1/2017,86,fr,"[{'name': 'StudioCanal', 'id': 694}, {'name': ...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",5.4,43
6498,12000000,19000000,6/14/2007,185,ta,"[{'name': 'AVM Productions', 'id': 16424}]","[{'iso_3166_1': 'IN', 'name': 'India'}]","[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",6.9,25
6499,0,1359497,8/15/2014,118,sv,"[{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...","[{'iso_3166_1': 'NO', 'name': 'Norway'}, {'iso...","[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",6.8,255