In [3]:
#Bring in dependencies
# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
#Import the data
temp = pd.read_csv('temp.csv')
temp.head()

,Unnamed: 0,title,budget,revenue,release_date,runtime,original_language,production_companies,production_countries,genres,spoken_languages,id,imdb_id,vote_average,vote_count,log rev
0,24078,Atlas Shrugged Part III: Who is John Galt?,5000000,846704,9/12/2014,99,en,"[{'name': 'Atlas 3 Productions', 'id': 67480}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...","[{'iso_639_1': 'en', 'name': 'English'}]",199933,tt2800038,3.9,15,13.649106
1,16483,It's Alive,11000000,15500000,8/15/2008,80,en,"[{'name': 'Alive Productions', 'id': 4451}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 27, 'name': 'Horror'}]","[{'iso_639_1': 'en', 'name': 'English'}]",23174,tt1172060,4.0,15,16.556351
2,35723,Raavan,4500000,4200000,6/18/2010,138,hi,"[{'name': 'Madras Talkies', 'id': 3118}, {'nam...","[{'iso_3166_1': 'IN', 'name': 'India'}]","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",37460,tt1334470,4.2,15,15.250595
3,7017,My Baby's Daddy,0,51,1/9/2004,86,en,[],"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 35, 'name': 'Comedy'}]","[{'iso_639_1': 'en', 'name': 'English'}]",26710,tt0332712,4.3,15,3.931826
4,43533,Nasha Russia: Yaytsa sudby,2000000,22212223,1/21/2010,85,en,[],"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",[],"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",31059,tt1569465,4.6,15,16.916153

#Linear Regression Revenue Independent and Vote Average as Dependent

In [5]:
#Define X as revenue and y as vote_average
X = temp[["revenue"]]
y = temp[["vote_average"]]
print(X)
print(X.shape, y.shape)

         revenue
0         846704
1       15500000
2        4200000
3             51
4       22212223
5        5217498
6       22424195
7           2970
8         852336
9         120680
10          8500
11        884100
12      10000000
13       4594452
14      19010585
15      45000000
16      24854765
17       6045657
18       7467504
19       9000000
20        729043
21      19104350
22      12000000
23      15000000
24        221295
25        960040
26            44
27      12212123
28      12890752
29        135893
...          ...
6472   630161890
6473  1153304495
6474   374218673
6475   926287400
6476   745600054
6477  1108561013
6478  1845034188
6479  2068223624
6480   677945399
6481  1118888979
6482    28341469
6483  1021103568
6484   213928762
6485  1513528810
6486   871368364
6487  1215439994
6488   585174222
6489   463517383
6490  1084939099
6491   378858340
6492   691210692
6493   100853753
6494   773328629
6495   425368238
6496   675120017
6497   783112979
6498  1519557910
6499  2787965087
6500  1004558444
6501   825532764

[6502 rows x 1 columns]
(6502, 1) (6502, 1)

In [6]:
#Split data into traning and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

X_train.head()

        revenue
6105  363164265
4350   52302796
2227       4187
3357   40577001
1539   34505110

In [7]:
#Get Normalized Data

#X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

X_train_log = np.log1p(X_train)
X_test_log = np.log1p(X_test)
#X_train_scaled = X_scaler.transform(X_train)
#X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [ ]:
#Look at data

#plt.subplot(321)
plt.hist(y_train, bins=20)
plt.title("Original Average Vote")

#plt.subplot(322)
#plt.hist(y_train_scaled, bins=20)
#plt.title("Scaled Average Vote")

#plt.subplot(325)
#plt.hist(X_train.values, bins=20)
#plt.title("Original Revenue")

#plt.subplot(326)
#plt.hist(X_train_log.values, bins=20)
#plt.title("Scaled Revenue")


plt.show

In [ ]:
fig1 = plt.figure(figsize=(12, 6))
axes1 = fig1.add_subplot(1, 2, 1)
axes2 = fig1.add_subplot(1, 2, 2)

axes1.set_title("Original Data")
axes2.set_title("Scaled Data")

maxx = X_train["revenue"].max()
maxy = y_train.max()


def set_axes(ax):
    ax.spines['left'].set_position('center')
    ax.spines['right'].set_color('none')
    ax.spines['bottom'].set_position('center')
    ax.spines['top'].set_color('none')
    ax.xaxis.set_ticks_position('bottom')
    ax.yaxis.set_ticks_position('left')
    
set_axes(axes1)
set_axes(axes1)

axes1.scatter(X_train["revenue"], y_train)
axes2.scatter(X_train_log["revenue"], y_train_scaled)

In [ ]:
model1 = LinearRegression()
model1.fit(X_train, y_train)

model2 = LinearRegression()
model2.fit(X_train_log, y_train_scaled)

# Make predictions using the testing set
y_pred = model1.predict(X_test)
y_pred_scaled = model2.predict(X_test_log)

print('**********Original Data*************')
MSE = mean_squared_error(y_test, y_pred)
r2 = model1.score(X_test, y_test)

print(f"MSE: {MSE}, R2: {r2}")

print('**********Normalized Data*************')
MSE = mean_squared_error(y_test_scaled, y_pred_scaled)
r2 = model2.score(X_test_log, y_test_scaled)

print(f"MSE: {MSE}, R2: {r2}")

# Plot outputs

fig1 = plt.figure(figsize=(12, 6))
axes1 = fig1.add_subplot(1, 2, 1)
axes2 = fig1.add_subplot(1, 2, 2)

axes1.set_title("Original Data Movie Revenue and Average vote")
axes2.set_title("Scaled Data Movie Revenue and Average vote")

maxx = X_train["revenue"].max()
maxy = y_train.max()


def set_axes(ax):
    ax.spines['left'].set_position('center')
    ax.spines['right'].set_color('none')
    ax.spines['bottom'].set_position('center')
    ax.spines['top'].set_color('none')
    ax.xaxis.set_ticks_position('bottom')
    ax.yaxis.set_ticks_position('left')
    
set_axes(axes1)
set_axes(axes1)

axes1.scatter(X_train["revenue"], y_train)
axes2.scatter(X_train_log["revenue"], y_train_scaled)


axes1.plot(X_test, y_pred, color='red', linewidth=3)
axes2.plot(X_test_log, y_pred_scaled, color='red', linewidth=3)

plt.show()

#Linear Regression Runtime explanatory and Budget response

In [ ]:
# delete entries with zero budget
temp_w_budget_and_runtime = temp[temp.budget != 0]
temp_w_budget_and_runtime = temp_w_budget_and_runtime[temp_w_budget_and_runtime.runtime !=0]
temp_w_budget_and_runtime

#Define X as revenue and y as vote_average
X = temp_w_budget[["runtime"]]
y = temp_w_budget[["budget"]]
print(X)
print(X.shape, y.shape)

In [ ]:
#Split data into traning and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

X_train.head()

In [ ]:
#Look at data

plt.subplot(321)
plt.hist(y_train.values, bins=20)
plt.title("Original Average Vote")

#plt.subplot(322)
#plt.hist(y_train_scaled, bins=20)
#plt.title("Scaled Average Vote")

plt.subplot(325)
plt.hist(X_train.values, bins=20)
plt.title("Original Revenue")

#plt.subplot(326)
#plt.hist(X_train_log.values, bins=20)
#plt.title("Scaled Revenue")


plt.show

In [ ]:
#Get Normalized Data


X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

y_train_log = np.log(y_train)
y_test_log = np.log(y_test)

In [ ]:
#Look at data

plt.subplot(321)
plt.hist(y_train.values, bins=20)
plt.title("Original budget")

plt.subplot(322)
plt.hist(y_train_log.values, bins=20)
plt.title("Scaled budget")

plt.subplot(325)
plt.hist(X_train.values, bins=20)
plt.title("Original runtime")

plt.subplot(326)
plt.hist(X_train_scaled, bins=20)
plt.title("Scaled runtime")


plt.show

In [ ]:
model1 = LinearRegression()
model1.fit(X_train, y_train)

model2 = LinearRegression()
model2.fit(X_train_scaled, y_train_log)

# Make predictions using the testing set
y_pred = model1.predict(X_test)
y_pred_log = model2.predict(X_test_scaled)

print('**********Original Data*************')
MSE = mean_squared_error(y_test, y_pred)
r2 = model1.score(X_test, y_test)

print(f"MSE: {MSE}, R2: {r2}")

print('**********Normalized Data*************')
MSE = mean_squared_error(y_test_log, y_pred_log)
r2 = model2.score(X_test_scaled, y_test_log)

print(f"MSE: {MSE}, R2: {r2}")

# Plot outputs

fig1 = plt.figure(figsize=(12, 6))
axes1 = fig1.add_subplot(1, 2, 1)
axes2 = fig1.add_subplot(1, 2, 2)

axes1.set_title("Original Data Movie Revenue and Average vote")
axes2.set_title("Scaled Data Movie Revenue and Average vote")

maxx = X_train["runtime"].max()
maxy = y_train.max()


def set_axes(ax):
    ax.spines['left'].set_position('center')
    ax.spines['right'].set_color('none')
    ax.spines['bottom'].set_position('center')
    ax.spines['top'].set_color('none')
    ax.xaxis.set_ticks_position('bottom')
    ax.yaxis.set_ticks_position('left')
    
set_axes(axes1)
set_axes(axes2)

axes1.scatter(X_train["runtime"], y_train)
axes2.scatter(X_train_scaled, y_train_log)


axes1.plot(X_test, y_pred, color='red', linewidth=3)
axes2.plot(X_test_scaled, y_pred_log, color='red', linewidth=3)

plt.show()